@font-face {
    font-family: 'Inter';
    src: url(../assets/fonts/Inter-V.ttf);
}

#root{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
}

body{
    font-size: 16px;
    font-family: 'Inter';
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(157.97deg, rgba(255, 183, 17, 0.5) 15.89%, rgba(245, 244, 255, 0.5) 53.01%, rgba(255, 1, 122, 0.5) 90.91%), #FFFFFF;
    /*background-image: url(../assets/images/Background.png);*/
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 15px;

    gap: 15px;
    width: 80%;
    

    padding-top: 120px;
}

.row{
    flex-direction: row;
    align-items: flex-start;
}

.bright{
    color: white;
    background: linear-gradient(124.86deg, #FFD500 11.2%, #FF007A 85.95%), #FFFFFF;
    border: none;

    transition: 0.3s ease;
}

.bright:hover{
    background: linear-gradient(124.86deg, #ffe97a 11.2%, #ff78b9 85.95%), #FFFFFF;
    border: 1px white;
}

.expand{
    width: 100%;
    height: 100%;
}