.search-block{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;

    background: #150F1E;
    border-radius: 40px;
}

.search-block button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 25px;
}


.search-filter{
    display: flex;
    flex-direction: row;
}

.search-filter button{
    border-radius: 0px 25px 25px 0px;

    padding: 5px 20px;
    border: none;
}

.search-field{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    font-size: 20px;

    background: #FFFFFF;
    box-shadow: inset 0px 0px 5px #000000;
    border-radius: 25px 0px 0px 25px;
    border: none;
}

.goods-list{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px;
    gap: 30px;
}

.category-filter {
    position: relative;
}

.category-dropdown {
    display: flex;
    top: 100%;
    left: 0;
    padding: -10px;
    z-index: 100;
}

.category-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: none;
}

.category-dropdown li {
    padding: 5px 10px;
}


.category-filter .expand-icon {
    transition: transform 0.3s ease-in-out;
}

.category-filter.expanded .expand-icon {
    transform: rotate(180deg);
}